# BlueJ files
*.ctxt

# Compiled class files
*.class

# Logs
*.log

# Maven build output
target/

# Package files
*.jar
*.war
*.ear

# Crash logs
hs_err_pid*
replay_pid*

# IDEs
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# Temporary/editor files
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Build output (algumas IDEs usam)
out/
bin/